.menu-bar__item {
  display: flex;
  margin: auto;
  align-items: center;
}

.menu-bar__item > ul {
  display: flex;
  flex-direction: row;
}

.menu-bar__item > ul > li {
  list-style-type: none;
  padding: 5px;
  margin-right: 15px;
}

.menu-bar__item > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar__item > ul > li > a:hover {
  color: blue;
  font-weight: 600;
}
