<div class="home__container">
  <app-card
  gameCover="assets/images/bt-1.jpg"
  gameMessage="Play it now!"
  gameLabel="Exclusive"
  gamePrice="R$ 150,00"
  gameType="Digital | PS4"
  ></app-card>
  <app-card
    gameCover="assets/images/bt-4.jpg"
    gameLabel="New"
    gameMessage="Play it now!"
    gamePrice="R$ 145,00"
    gameType="Digital | PS4 PS5"
  ></app-card>
  <app-card
    gameCover="assets/images/bt-bad-company-2.jpg"
    gameLabel="Digital"
    gameMessage="Play it now!"
    gamePrice="R$ 95,00"
    gameType="Digital | PS5"
  ></app-card>
  <app-card
    gameCover="assets/images/bt-hardline.jpg"
    gameLabel="Bestsellers"
    gameMessage="Play it now!"
    gamePrice="R$ 180,00"
    gameType="Digital |  PS3 PS4 PS5"
  ></app-card>
  <app-card
    gameCover="assets/images/ac-cover.jpg"
    gameLabel="New"
    gameMessage="Play it now!"
    gamePrice="R$ 220,00"
    gameType="Digital | PS5"
  ></app-card>
</div>

